:root {
  --vermelho: #e50914;
  --preta: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* elementos base */
body {
  background-color: var(--preta);
  font-family: 'Arial', Times, serif;
  color: white;
}

nav {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%), url('../img/capas/The-Old-Guard.jpg');
  background-size: 100% 100%;

  width: 100%;
  min-height: 46rem;
}

/* #vid {
  border: 3px solid #ccc;
  display: flex;
  position: absolute;
  z-index: 100;
  margin-top: -4rem;
  width: 100%;
  object-fit: cover;
} */

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  height: 68px;
  padding: 0 4%;

}

header .logo {
  color: var(--vermelho);
  font-family: 'Arial Black', Times;
  font-size: 25px;
  height: 35px;
  width: 100px;
}

header .lista {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

header .lista a {
  text-decoration: none;
  color: rgb(215, 212, 212);
}

header a:hover {
  color: #aaa;
}

header .lista .lista__corrent {
  color: rgb(251, 251, 251);
  cursor: default;
}

/* filme rgb(255, 254, 254)cipal */
.filme-principal {
  font-size: 16px;

  height: 400px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.filme-principal .descricao {
  margin-top: 10px;
  margin-bottom: 40px;
}

.titulo {
  margin-top: 15%;
  font-size: 40px;
  font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;

  padding: 15px 30px;
  margin-right: 15px;
  font-size: 12px;

  cursor: pointer;
  transition: 1s ease all;
}

.botao:hover {
  background-color: white;
  color: black;
}

.botao i {
  margin-right: 7px;
}

.container {
  margin-left: 15px;
}

.filme-principal .container {
  width: 70%;
  margin-left: 4%;
}

.box-filme {
  height: 100%;
  width: 100%;
  display: block;
}

.h3-details {
  margin-top: 40px;
}

.carrosel-filmes {
  margin-left: 4%;
  margin-top: 5rem;
}



main {
  margin-top: -10rem;

}

main h2 {
  margin-top: -5rem;
  margin-bottom: 0.8rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  flex-direction: row;
  gap: 2.5rem;
  padding-bottom: 1rem;
}



.grupo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.8rem;
}

.grupo__persona {
  display: flex;
  flex-direction: column;
  max-width: 10rem;
  font-weight: 800;
  gap: 0.15rem;
  font-size: 1rem;
}

.grupo__persona h4 {
  padding-bottom: 0.7rem;
  font-family: 'Trebuchet MS', Arial, sans-serif;
}

.grupo__persona h6 {
  padding-bottom: 0.4rem;
}

.grupo__persona ul {
  padding-left: 0.9rem;
  padding-bottom: 0.4rem;
}

.grupo__persona ul li {
  font-size: 0.60rem;
  font-weight: 100;
}

.grupo__logo {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  text-decoration: none;
  gap: 0.3rem;
}

.grupo__logo img {
  max-width: 2rem;
}