:root {
  --vermelho: #e50914;
  --preta: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* elementos base */
body {
  background-color: var(--preta);
  font-family: 'Arial', Times, serif;
  color: white;
}

nav{
  width: 100%;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  height: 68px;
  padding: 0 4%;
  
}

header .logo {
  color: var(--vermelho);
  font-family: 'Arial Black', Times;
  font-size: 25px;
  height: 35px;
  width: 100px;
}

header .lista {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

header .lista a {
  text-decoration: none;
  color: rgb(215, 212, 212);
}

header a:hover {
  color: #aaa;
}

header .lista .lista__corrent {
  color: rgb(251, 251, 251);
  cursor: default;
}

.main__cadastro{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 0rem 0rem 1.5rem 0rem;
  gap: 1rem;
  height: 100%;
  width: 100%;
}

main section form{
  display: flex;
  flex-direction: column;
  width: 25%;
}

main section form input{
  margin-top: 0.3rem;
  margin-bottom: 0.85rem;
  width: 100%;
}

main section form textarea{
  margin-top: 0.3rem;
  margin-bottom: 0.85rem;
  width: 100%;
}

#img__cadastrar{
  width: 100%;
}

#btnCadastrar{
  background-color: #e50914;
  border: solid 1px #000000;
  border-radius: 8px;
  padding: 0.5rem;
  width: 50%;
  cursor: pointer;
}

#btnEditar{
  font-family: 'Trebuchet MS', Arial, sans-serif;
  background-color: #e50914;
  border: solid 1px #000000;
  color: #141414;  
  font-weight: 600;
  font-size: 1.7rem;
  border-radius: 8px;
  padding: 0.5rem;
  width: 50%;
  cursor: pointer;
  transition: 1s;
}

#btnEditar:hover{
  background-color: #141414;
  border: solid 1px #e50914;
  color:#e50914;
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  flex-direction: row;
  gap: 2.5rem;
  padding-bottom: 1rem;
}



.grupo{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.8rem;
}

.grupo__persona{
  display: flex;
  flex-direction: column;
  max-width: 10rem;
  font-weight: 800;
  gap: 0.15rem;
  font-size: 1rem;
}

.grupo__persona h4{
  padding-bottom: 0.7rem;
}

.grupo__persona h6{
  padding-bottom: 0.4rem;
}

.grupo__persona ul{
  padding-left: 0.9rem;
  padding-bottom: 0.4rem;
}

.grupo__persona ul li{
  font-size: 0.60rem;
  font-weight: 100;
}

.grupo__logo{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  text-decoration: none;
  gap: 0.3rem;
}

.grupo__logo img{
  max-width: 2rem;
}

