<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagex/png" href="./img/icons/netflix__icon.png">
    <link rel="stylesheet" href="./style/main.css">
    <link rel="stylesheet" href="./style/responsive.css">    
    <link rel="stylesheet" href="./style/owl/carousel.min.css">
    <link rel="stylesheet" href="./style/owl/theme.default.min.css">
    
    <title>NETFLIX CLONE</title>
</head>
<body>
    <nav>
        <header>
            <img class="logo" src="./img/icons/logo.png" alt="logo__netflix">
            <!-- <h2 class="logo">NETFLIX</h2> -->
            <div class="lista">
                <a class="lista__corrent" href="#">Inicio</a>
                <a class="lista__navegacao" href="#">Series</a>
                <a class="lista__navegacao" href="#">Filmes</a>
                <a class="lista__navegacao" href="/cadastro">Cadastrar</a>
            </div>
        </header>
    
        
        
        <div class="filme-principal">
            <div class="container">
                <h3 class="titulo">HOUSE OF CARDS</h3>
                <p class="descricao">Num drama sobre as consequências do poder e da corrupção, Francis Underwood (Kevin Spacey) está sedento por sucesso e nada o detém. Trata-se de uma história onde são ultrapassados os limites para satisfazer o desejo de um homem que ambiciona governar o mundo.</p>
                <div class="botoes">
                    <button role="button" class="botao">
                        <i class="fas fa-play"></i>
                        ASSISTIR AGORA
                    </button>
                    <button role="button" class="botao">
                        <i class="fas fa-info-circle"></i>
                        MAIS INFORMAÇÕES
                    </button>
                </div>
            </div>
        </div>
    </nav>

    <main>

        

        <div class="carrosel-filmes">
            <h2>
                Filmes
            </h2>
            
            <div class="owl-carousel owl-theme">
                <% filmes.forEach(item => { %>                
                    <% if (item.tipo.toLowerCase() == 'filme') { %>
                        <div class="item">
                            <a href="/detalhes/<%= item.id %>"><img class="box-filme" src= <%= item.imagem %> ></a>
                            
                        </div>
                    <% } %>

                <% }) %>
        
            </div>
        
        </div>

        <div class="carrosel-filmes">
            <h2>
                Séries
            </h2>
            
            <div class="owl-carousel owl-theme">
                <% filmes.forEach(item => { %>                
                    <% if (item.tipo.toLowerCase() == 'serie') { %>
                        <div class="item">
                            <a href="/detalhes/<%= item.id %>"><img class="box-filme" src= <%= item.imagem %> ></a>
                            
                        </div>
                    <% } %>

                <% }) %>
        
            </div>
        
        </div>

    </main>
    <footer>

        <div class="grupo__persona">
            <h4>
                Quem somos:
            </h4>
        </div>

        <div class="grupo">
            <div class="grupo__persona">
                <h4>Alexandre Meirelles</h4>

                <h6>Auxiliar Financeiro</h6>
                <h6>Dev. FullStack</h6>

                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>Python</li>
                    <li>Express</li>
                    <li>MVC</li>
                    <li>BEM</li>
                </ul>

                <div class="grupo__logo">
                    <a href="#" target="_blank"><img src= "./img/icons/linkedin.png" alt="logo__linkedin"></a>
                    <a href="#" target="_blank"><img src= "./img/icons/github.png" alt="logo__GitHub"></a>
                    <a href="#" target="_blank"><img src= "./img/icons/whatsapp--v1.png" alt="logo__GitHub"></a>
                </div>                    

            </div>


            <div class="grupo__persona">
                <h4>Elieldo Martins</h4>

                <h6>Auxiliar Financeiro</h6>
                <h6>Dev. FullStack</h6>

                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>Python</li>
                    <li>Express</li>
                    <li>MVC</li>
                    <li>BEM</li>
                </ul>

                <div class="grupo__logo">
                    <a href="#" target="_blank"><img src= "./img/icons/linkedin.png" alt="logo__linkedin"></a>
                    <a href="#" target="_blank"><img src= "./img/icons/github.png" alt="logo__GitHub"></a>
                    <a href="#" target="_blank"><img src= "./img/icons/whatsapp--v1.png" alt="logo__GitHub"></a>
                </div>                    

            </div>

            <div class="grupo__persona">
                <h4>Victor Paim</h4>

                <h6>Auxiliar Financeiro</h6>
                <h6>Dev. FullStack</h6>

                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>Python</li>
                    <li>Express</li>
                    <li>MVC</li>
                    <li>BEM</li>
                </ul>

                <div class="grupo__logo">
                    <a href="https://www.linkedin.com/in/labupaim/" target="_blank"><img src= "./img/icons/linkedin.png" alt="logo__linkedin"></a>
                    <a href="https://github.com/LabuPaim" target="_blank"><img src= "./img/icons/github.png" alt="logo__GitHub"></a>
                    <a href="https://wa.me/qr/FREXR7E4HNB7N1" target="_blank"><img src= "./img/icons/whatsapp--v1.png" alt="logo__GitHub"></a>
                </div>                    

            </div>

        </div>
        <div class="grupo__persona">
            <h4>
                Projeto
            </h4>
            <h6>
                Netflix Clone
            </h6>
            <h6>
                Projeto do curso FullStack da Blue EdTech.
            </h6>

            
        </div>

    </footer>
    
    <script src="https://kit.fontawesome.com/e52baa07be.js" crossorigin="anonymous"></script>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/owl.carousel.min.js"></script>
    <script src="./js/setup.js"></script>

</body>
</html>